.idea
.wsvenv
venv/
env/

__pycache__/
*.pyc 

Data/WealthSimple.db
Data/Data_Files/*
!Data/Data_Files/.gitkeep

ref/active_policy*.json
ref/portfolio_metrics*.json
!ref/.gitkeep
!ref/*.drawio
!ref/*.pdf
!ref/*.png
!ref/policy_v1.json
!ref/security_grouping_reference_v1.json

exports/*
!exports/.gitkeep


.env
.DS_Store
Thumbs.db


output.md
*.log
